In [24]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
#%pip install SQLAlchemy

## CSV

In [25]:
import pandas as pd

# Ruta donde se encuentran todos los archivos CSV
base_path = r'F:\Desktop\SmartPro_Analytics\csv'

# Cargar los archivos CSV
df_team = pd.read_csv(base_path + r'\team.csv')
df_team_details = pd.read_csv(base_path + r'\team_details.csv')
df_player = pd.read_csv(base_path + r'\player.csv')
df_other_stats = pd.read_csv(base_path + r'\other_stats.csv')
df_inactive_players = pd.read_csv(base_path + r'\inactive_players.csv')
df_game = pd.read_csv(base_path + r'\game.csv', parse_dates=['game_date'])
df_game_info = pd.read_csv(base_path + r'\game_info.csv', parse_dates=['game_date'])
df_draft_history = pd.read_csv(base_path + r'\draft_history.csv')
df_draft_combine_stats = pd.read_csv(base_path + r'\draft_combine_stats.csv')
df_common_player_info = pd.read_csv(base_path + r'\common_player_info.csv', parse_dates=['birthdate'])

In [26]:
# Esta configuracion nos permite visualizar todas la columnas de nuestro dataframe
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

## Funcion para el anÃ¡lisis

In [27]:
# Esta nos da un resumen de los nulos de las tablas por columna
def descripcion_datos(data):
    for i in data.columns:
        if data[i].dtype=='float64' or data[i].dtype=='int64':
            print(i)
            print('Mediana: ',data[i].median())
            print('Varianza: ',data[i].var())
            print('Rango: ',data[i].max()-data[i].min())
            print('Moda:')
            print(data[i].mode())
            print('------------------------------------')

    print('-------------------Datos nulos:-------------------')
    print(data.isnull().sum())
    print('-----------------------------------------')
    print('Dimensiones del dataframe:')
    print(np.shape(data))
    print('-----------------------------------------')

## ðŸ”µtabla team

In [28]:
df_team.head(5)

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949.0
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946.0
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970.0
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002.0
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966.0

#### Tipo de datos por columna

In [29]:
df_team.dtypes

id                int64
full_name        object
abbreviation     object
nickname         object
city             object
state            object
year_founded    float64
dtype: object

#### Limpieza de datos

In [30]:
# Pasamos el tipo de dato a int para la columna 'year_founded'
df_team['year_founded'] = df_team['year_founded'].astype(int)

#### Cantidad de filas

In [31]:
df_team.shape
#(30, 7)

(30, 7)

## ðŸ”µtabla team_details

In [32]:
df_team_details.head()

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation,facebook,instagram,twitter
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks,https://www.facebook.com/hawks,https://instagram.com/atlhawks,https://twitter.com/ATLHawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls,https://www.facebook.com/chicagobulls,https://instagram.com/chicagobulls,https://twitter.com/chicagobulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends,https://www.facebook.com/dallasmavs,https://instagram.com/dallasmavs,https://twitter.com/dallasmavs
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,NaN,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold,https://www.facebook.com/DenverNuggets,https://instagram.com/nuggets,https://twitter.com/nuggets
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,NaN,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors,https://www.facebook.com/warriors,https://instagram.com/warriors,https://twitter.com/warriors

#### Tipos de datos por columna

In [33]:
df_team_details.dtypes

team_id                 int64
abbreviation           object
nickname               object
yearfounded           float64
city                   object
arena                  object
arenacapacity         float64
owner                  object
generalmanager         object
headcoach              object
dleagueaffiliation     object
facebook               object
instagram              object
twitter                object
dtype: object

#### Limpieza de datos

In [34]:
# Prodecemos a eliminar las columnas 
df_team_details.drop(columns=['facebook','instagram','twitter'],inplace=True)
# llenamos los nulos de las columnas y las pasamos a tipo int 
df_team_details['yearfounded'] = df_team_details['yearfounded'] .fillna(0)
df_team_details['arenacapacity'] = df_team_details['arenacapacity'].fillna(0)
df_team_details['yearfounded'] = df_team_details['yearfounded'].astype(int)
df_team_details['arenacapacity'] = df_team_details['arenacapacity'].astype(int)

#### Cantidad de filas

In [35]:
df_team_details.shape
#(25, 14)

(25, 11)

## ðŸ”µtabla game

In [36]:
df_game.head(5)

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,fga_home,fg_pct_home,fg3m_home,fg3a_home,fg3_pct_home,ftm_home,fta_home,ft_pct_home,oreb_home,dreb_home,reb_home,ast_home,stl_home,blk_home,tov_home,pf_home,pts_home,plus_minus_home,video_available_home,team_id_away,team_abbreviation_away,team_name_away,matchup_away,wl_away,fgm_away,fga_away,fg_pct_away,fg3m_away,fg3a_away,fg3_pct_away,ftm_away,fta_away,ft_pct_away,oreb_away,dreb_away,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01,HUS vs. NYK,L,0,25.0,NaN,NaN,NaN,NaN,NaN,16.0,29.0,0.552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,-2,0,1610612752,NYK,New York Knicks,NYK @ HUS,W,24.0,NaN,NaN,NaN,NaN,NaN,20.0,26.0,0.769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02,BOM vs. PIT,W,0,20.0,59.0,0.339,NaN,NaN,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,56.0,5,0,1610610031,PIT,Pittsburgh Ironmen,PIT @ BOM,L,16.0,72.0,0.222,NaN,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02,PRO vs. BOS,W,0,21.0,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,6,0,1610612738,BOS,Boston Celtics,BOS @ PRO,L,21.0,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02,CHS vs. NYK,W,0,21.0,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,63.0,16,0,1610612752,NYK,New York Knicks,NYK @ CHS,L,16.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02,DEF vs. WAS,L,0,10.0,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,-17,0,1610610036,WAS,Washington Capitols,WAS @ DEF,W,18.0,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

#### Tipos de dato por Columna

In [37]:
df_game.dtypes

season_id                          int64
team_id_home                       int64
team_abbreviation_home            object
team_name_home                    object
game_id                            int64
game_date                 datetime64[ns]
matchup_home                      object
wl_home                           object
min                                int64
fgm_home                         float64
fga_home                         float64
fg_pct_home                      float64
fg3m_home                        float64
fg3a_home                        float64
fg3_pct_home                     float64
ftm_home                         float64
fta_home                         float64
ft_pct_home                      float64
oreb_home                        float64
dreb_home                        float64
reb_home                         float64
ast_home                         float64
stl_home                         float64
blk_home                         float64
tov_home                         float64
pf_home                          float64
pts_home                         float64
plus_minus_home                    int64
video_available_home               int64
team_id_away                       int64
team_abbreviation_away            object
team_name_away                    object
matchup_away                      object
wl_away                           object
fgm_away                         float64
fga_away                         float64
fg_pct_away                      float64
fg3m_away                        float64
fg3a_away                        float64
fg3_pct_away                     float64
ftm_away                         float64
fta_away                         float64
ft_pct_away                      float64
oreb_away                        float64
dreb_away                        float64
reb_away                         float64
ast_away                         float64
stl_away                         float64
blk_away                         float64
tov_away                         float64
pf_away                          float64
pts_away                         float64
plus_minus_away                    int64
video_available_away               int64
season_type                       object
dtype: object

#### Limpieza de datos

In [38]:
#Eliminas los duplicados por la columnas 'game_id' 

df_game = df_game.drop_duplicates(subset = ['game_id'])
df_game.shape

(65642, 55)

In [39]:
# Eliminamos la columnas video_available_away
df_game = df_game.drop(columns=['video_available_away'])

In [40]:

# Definir el rango de fechas que vamos a analizar
start_date = '2013-01-01'
end_date = '2023-12-31'

df_game = df_game[(df_game['game_date'] >= start_date) & (df_game['game_date'] <= end_date)].reset_index(drop=True)
df_game.shape

(13619, 54)

#### Cantidad de filas

In [41]:
df_game.shape
#(65698, 55) a (13619, 54)

(13619, 54)

## ðŸ”µtabla game_info

In [42]:
df_game_info.head(5)

    game_id  game_date  attendance game_time
0  24600001 1946-11-01         NaN       NaN
1  24600003 1946-11-02         NaN       NaN
2  24600002 1946-11-02         NaN       NaN
3  24600004 1946-11-02         NaN       NaN
4  24600005 1946-11-02         NaN       NaN

##### Tipos de dato por Columna

In [43]:
df_game_info.dtypes

game_id                int64
game_date     datetime64[ns]
attendance           float64
game_time             object
dtype: object

#### Limpieza de datos

In [44]:
# Eliminamos la columna 'game_time'
df_game_info = df_game_info.drop(columns=['game_time'])

In [45]:
# Eliminamos los duplicados segun la columna 'game_id'
df_game_info = df_game_info.drop_duplicates(subset=['game_id'])

In [46]:
# Limpiamos la columna 'attendance' y luego lo pasamos a tipo int
df_game_info['attendance'] = df_game_info['attendance'].fillna(0)
df_game_info['attendance'] = df_game_info['attendance'].astype(int)

In [47]:

# Definir el rango de fechas
start_date = '2013-01-01'
end_date = '2023-12-31'

df_game_info = df_game_info[(df_game_info['game_date'] >= start_date) & (df_game_info['game_date'] <= end_date)].reset_index(drop=True)

#### Cantidad de filas

In [48]:
df_game_info.shape
# Pasamos de (58053, 3) a (12405, 3)

(12405, 3)

## ðŸ”µtabla other_stats

In [49]:
df_other_stats.head(5)

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,times_tied,team_turnovers_home,total_turnovers_home,team_rebounds_home,pts_off_to_home,team_id_away,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
0,29600012,0,1610612756,PHX,Phoenix,44,18,2,1,4,1,0.0,12.0,11.0,NaN,1610612747,LAL,Los Angeles,42,10,13,19,0.0,23.0,11.0,NaN
1,29600005,0,1610612737,ATL,Atlanta,32,9,6,0,0,0,1.0,24.0,7.0,NaN,1610612748,MIA,Miami,32,15,14,16,1.0,19.0,6.0,NaN
2,29600002,0,1610612739,CLE,Cleveland,36,14,6,20,1,1,0.0,15.0,5.0,NaN,1610612751,NJN,New Jersey,26,16,4,2,1.0,22.0,12.0,NaN
3,29600007,0,1610612754,IND,Indiana,34,11,4,10,7,4,0.0,18.0,8.0,NaN,1610612765,DET,Detroit,30,14,7,9,2.0,19.0,10.0,NaN
4,29600013,0,1610612746,LAC,Los Angeles,40,19,2,12,5,4,0.0,20.0,7.0,NaN,1610612744,GSW,Golden State,30,9,2,6,0.0,20.0,7.0,NaN

#### Tipos de dato por fila

In [50]:
df_other_stats.dtypes

game_id                     int64
league_id                   int64
team_id_home                int64
team_abbreviation_home     object
team_city_home             object
pts_paint_home              int64
pts_2nd_chance_home         int64
pts_fb_home                 int64
largest_lead_home           int64
lead_changes                int64
times_tied                  int64
team_turnovers_home       float64
total_turnovers_home      float64
team_rebounds_home        float64
pts_off_to_home           float64
team_id_away                int64
team_abbreviation_away     object
team_city_away             object
pts_paint_away              int64
pts_2nd_chance_away         int64
pts_fb_away                 int64
largest_lead_away           int64
team_turnovers_away       float64
total_turnovers_away      float64
team_rebounds_away        float64
pts_off_to_away           float64
dtype: object

#### Limpieza de datos

In [51]:
df_other_stats=df_other_stats.drop_duplicates()

In [52]:
# Ahora que tenemos los game_id del rango de fecha indicado necesitamos filtrar las demas tablas con los game_id indicados

df_other_stats = df_other_stats[df_other_stats['game_id'].isin(df_game_info['game_id'])].reset_index(drop=True)
df_other_stats[df_other_stats['game_id'].isin(df_game_info['game_id'])].shape

(11595, 26)

#### Cantidad de filas

In [53]:
df_other_stats.shape
#(28271, 26) a (11595, 26)

(11595, 26)

## ðŸ”µtabla common_player_info

In [54]:
df_common_player_info.head(5)

,person_id,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,last_affiliation,height,weight,season_exp,jersey,position,rosterstatus,games_played_current_season_flag,team_id,team_name,team_abbreviation,team_code,team_city,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24,Duke,USA,Duke/USA,6-10,240.0,5.0,30,Forward,Inactive,N,1610612757,Trail Blazers,POR,blazers,Portland,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16,UCLA,USA,UCLA/USA,7-2,225.0,20.0,33,Center,Inactive,N,1610612747,Lakers,LAL,lakers,Los Angeles,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03,San Jose State,France,San Jose State/France,6-6,235.0,7.0,9,Forward-Guard,Inactive,N,1610612758,Kings,SAC,kings,Sacramento,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,949,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11,California,USA,California/USA,6-9,245.0,13.0,3,Forward,Inactive,N,1610612763,Grizzlies,VAN,grizzlies,Vancouver,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,76005,Tom,Abernethy,Tom Abernethy,"Abernethy, Tom",T. Abernethy,tom-abernethy,1954-05-06,Indiana,USA,Indiana/USA,6-7,220.0,5.0,5,Forward,Inactive,N,1610612744,Warriors,GOS,warriors,Golden State,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N

#### Tipos de datos por columna

In [55]:
df_common_player_info.dtypes

person_id                                    int64
first_name                                  object
last_name                                   object
display_first_last                          object
display_last_comma_first                    object
display_fi_last                             object
player_slug                                 object
birthdate                           datetime64[ns]
school                                      object
country                                     object
last_affiliation                            object
height                                      object
weight                                     float64
season_exp                                 float64
jersey                                      object
position                                    object
rosterstatus                                object
games_played_current_season_flag            object
team_id                                      int64
team_name                                   object
team_abbreviation                           object
team_code                                   object
team_city                                   object
playercode                                  object
from_year                                  float64
to_year                                    float64
dleague_flag                                object
nba_flag                                    object
games_played_flag                           object
draft_year                                  object
draft_round                                 object
draft_number                                object
greatest_75_flag                            object
dtype: object

#### Limpieza de datos

In [56]:
# Imputamos los datos por las columnas y luego las pasamos a tipo int
df_common_player_info['from_year'] = df_common_player_info['from_year'].fillna(0)
df_common_player_info['to_year'] = df_common_player_info['to_year'].fillna(0)

df_common_player_info['from_year'] = df_common_player_info['from_year'].astype(int)
df_common_player_info['to_year'] = df_common_player_info['to_year'].astype(int)

In [57]:
# AcÃ¡ filtramos a los jugafores que estuvieron activos en el periodo entre 2013 y 2023

start_date = 2013
end_date = 2023

# Filtrar el DataFrame
df_common_player_info = df_common_player_info[(df_common_player_info['to_year'] >= start_date ) & (df_common_player_info['to_year'] <= end_date)].reset_index(drop=True)
df_common_player_info.shape

(1217, 33)

#### Cantidad de filas

In [58]:
df_common_player_info.shape
#(4171, 33) a (1217, 33)

(1217, 33)

## ðŸ”µtabla player

In [59]:
df_player.head(5)

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0

#### Tipos de datos por columna

In [60]:
df_player.dtypes

id             int64
full_name     object
first_name    object
last_name     object
is_active      int64
dtype: object

#### Limpieza de datos

In [61]:
# Basandonos en los person_id de player_common_info filtramos por los id

df_player = df_player[df_player['id'].isin(df_common_player_info['person_id'])].reset_index(drop=True)
df_player = df_player.drop_duplicates()

#### Cantidad de filas

In [62]:

df_player.shape
#(4831,5) a (1217,5)

(1217, 5)

## ðŸ”µtabla inactive_players

In [63]:
df_inactive_players.head(5)

,game_id,player_id,first_name,last_name,jersey_num,team_id,team_city,team_name,team_abbreviation
0,29600034,184,Bobby,Phills,14.0,1610612739,Cleveland,Cavaliers,CLE
1,29600034,781,Will,Perdue,41.0,1610612759,San Antonio,Spurs,SAS
2,29600132,120,Steven,Smith,8.0,1610612737,Atlanta,Hawks,ATL
3,29600203,698,Eddie,Johnson,8.0,1610612754,Indiana,Pacers,IND
4,29600213,32,Clifford,Rozier,44.0,1610612753,Orlando,Magic,ORL

#### Tipo de datos por columna

In [64]:
# Esta tabla registra las veces que un jugador sue inactivo, contar las ocurrencias de estas nos dara las veces que se lesiono
df_inactive_players.dtypes

game_id                int64
player_id              int64
first_name            object
last_name             object
jersey_num           float64
team_id                int64
team_city             object
team_name             object
team_abbreviation     object
dtype: object

##### Limpieza de datos

In [65]:
# Filtro common_player info

df_inactive_players = df_inactive_players[df_inactive_players['player_id'].isin(df_common_player_info['person_id'])].reset_index(drop=True)
df_inactive_players.shape

(73422, 9)

In [66]:
# Pasamos el tipo de datos a string para la columna 'jersey_num' 

df_inactive_players['jersey_num'] = df_inactive_players['jersey_num'].fillna(-1)
df_inactive_players['jersey_num'] = df_inactive_players['jersey_num'].astype('int')
df_inactive_players['jersey_num'] = df_inactive_players['jersey_num'].astype('string')
df_inactive_players['jersey_num'] = df_inactive_players['jersey_num'].replace('-1', 'sin num')

##### Cantidad de filas

In [67]:
df_inactive_players.shape
#(110191, 9) a (73422, 9)

(73422, 9)

## ðŸ”µtabla draft_history

In [68]:
df_draft_history.head(5)

,person_id,player_name,season,round_number,round_pick,overall_pick,draft_type,team_id,team_city,team_name,team_abbreviation,organization,organization_type,player_profile_flag
0,79299,Clifton McNeeley,1947,1,1,1,Draft,1610610031,Pittsburgh,Ironmen,PIT,Texas-El Paso,College/University,0
1,78109,Glen Selbo,1947,1,2,2,Draft,1610610035,Toronto,Huskies,HUS,Wisconsin,College/University,1
2,76649,Eddie Ehlers,1947,1,3,3,Draft,1610612738,Boston,Celtics,BOS,Purdue,College/University,1
3,79302,Walt Dropo,1947,1,4,4,Draft,1610610032,Providence,Steamrollers,PRO,Connecticut,College/University,0
4,77048,Dick Holub,1947,1,5,5,Draft,1610612752,New York,Knicks,NYK,Long Island-Brooklyn,College/University,1

##### Tipo de datos por columna

In [69]:
df_draft_history.dtypes

person_id               int64
player_name            object
season                  int64
round_number            int64
round_pick              int64
overall_pick            int64
draft_type             object
team_id                 int64
team_city              object
team_name              object
team_abbreviation      object
organization           object
organization_type      object
player_profile_flag     int64
dtype: object

##### Limpieza de datos

In [70]:
df_draft_history['organization'] = df_draft_history['organization'].fillna('sin org')
df_draft_history['organization_type'] = df_draft_history['organization_type'].fillna('sin org')

In [71]:
# Filtro common_player info

df_draft_history = df_draft_history[df_draft_history['person_id'].isin(df_common_player_info['person_id'])].reset_index(drop=True)
df_draft_history.shape

(748, 14)

#### Cantidad de columnas

In [72]:
df_draft_history.shape
#(7990, 14) a (748, 14)

(748, 14)

## ðŸ”µtabla draft_combine_stats

In [73]:
df_draft_combine_stats.head(5)

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,weight,wingspan,wingspan_ft_in,standing_reach,standing_reach_ft_in,body_fat_pct,hand_length,hand_width,standing_vertical_leap,max_vertical_leap,lane_agility_time,modified_lane_agility_time,three_quarter_sprint,bench_press,spot_fifteen_corner_left,spot_fifteen_break_left,spot_fifteen_top_key,spot_fifteen_break_right,spot_fifteen_corner_right,spot_college_corner_left,spot_college_break_left,spot_college_top_key,spot_college_break_right,spot_college_corner_right,spot_nba_corner_left,spot_nba_break_left,spot_nba_top_key,spot_nba_break_right,spot_nba_corner_right,off_drib_fifteen_break_left,off_drib_fifteen_top_key,off_drib_fifteen_break_right,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,6' 11.5'',NaN,NaN,259.0,84.5,7' 0.5'',107.0,8' 11'',12.4,NaN,NaN,28.5,31.0,11.90,NaN,3.40,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,6' 2.25'',NaN,NaN,199.0,81.5,6' 9.5'',99.5,8' 3.5'',5.3,NaN,NaN,31.5,36.0,NaN,NaN,3.25,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,6' 3.5'',NaN,NaN,188.0,81.5,6' 9.5'',99.5,8' 3.5'',9.3,NaN,NaN,30.0,37.0,10.91,NaN,3.20,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,6' 8.25'',NaN,NaN,229.0,82.5,6' 10.5'',105.0,8' 9'',9.3,NaN,NaN,29.5,33.0,10.95,NaN,3.30,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,6' 3'',NaN,NaN,206.0,80.5,6' 8.5'',99.0,8' 3'',5.3,NaN,NaN,35.0,41.5,11.26,NaN,2.91,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Tipo de dato por columna

In [74]:
df_draft_combine_stats.dtypes

season                            int64
player_id                         int64
first_name                       object
last_name                        object
player_name                      object
position                         object
height_wo_shoes                 float64
height_wo_shoes_ft_in            object
height_w_shoes                  float64
height_w_shoes_ft_in             object
weight                          float64
wingspan                        float64
wingspan_ft_in                   object
standing_reach                  float64
standing_reach_ft_in             object
body_fat_pct                    float64
hand_length                     float64
hand_width                      float64
standing_vertical_leap          float64
max_vertical_leap               float64
lane_agility_time               float64
modified_lane_agility_time      float64
three_quarter_sprint            float64
bench_press                     float64
spot_fifteen_corner_left         object
spot_fifteen_break_left          object
spot_fifteen_top_key             object
spot_fifteen_break_right         object
spot_fifteen_corner_right        object
spot_college_corner_left         object
spot_college_break_left          object
spot_college_top_key             object
spot_college_break_right         object
spot_college_corner_right        object
spot_nba_corner_left             object
spot_nba_break_left              object
spot_nba_top_key                 object
spot_nba_break_right             object
spot_nba_corner_right            object
off_drib_fifteen_break_left      object
off_drib_fifteen_top_key         object
off_drib_fifteen_break_right     object
off_drib_college_break_left      object
off_drib_college_top_key         object
off_drib_college_break_right     object
on_move_fifteen                  object
on_move_college                  object
dtype: object

#### Limpieza de datos

In [75]:
# Imputacion de nulos para las columnas numericas y para las columnas string
# Obtener los nombres de las columnas que son de tipo numÃ©rico
numeric_columns = df_draft_combine_stats.select_dtypes(include=['number']).columns

# Obtener los nombres de las columnas que son de tipo string
string_columns = df_draft_combine_stats.select_dtypes(include=['object']).columns

for columna in numeric_columns:
   df_draft_combine_stats[columna] = df_draft_combine_stats[columna].fillna(0)

for columna in string_columns:
    df_draft_combine_stats[columna] = df_draft_combine_stats[columna].fillna('no hay dato')

In [76]:
# Eliminamos los duplicados
df_draft_combine_stats = df_draft_combine_stats.drop_duplicates(subset=['player_id'])

# Filtro common_player info
df_draft_combine_stats = df_draft_combine_stats[df_draft_combine_stats['player_id'].isin(df_common_player_info['person_id'])].reset_index(drop=True)

In [77]:

#filtro common_player info
df_draft_combine_stats.shape
#(1202, 47) a (567, 47)

(567, 47)

## Subimos los df

In [79]:

from sqlalchemy import create_engine
import pyodbc

server = r'DESKTOP-B6TMSMO\SQLEXPRESS'
database = 'nba_henry'

connection_string = f'mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes'

# Crear el motor de conexiÃ³n
engine = create_engine(connection_string)

# Mandar los datos a la tabla ya creada en SQL Server
df_team.to_sql('team', engine, if_exists='append', index=False)
df_team_details.to_sql('teams_details', engine, if_exists='append', index=False)
df_player.to_sql('player', engine, if_exists='append', index=False)
df_other_stats.to_sql('other_stats', engine, if_exists='append', index=False)
df_inactive_players.to_sql('inactive_player', engine, if_exists='append', index=False)
df_game.to_sql('game', engine, if_exists='append', index=False)
df_game_info.to_sql('game_info', engine, if_exists='append', index=False)
df_draft_history.to_sql('draft_history', engine, if_exists='append', index=False)
df_draft_combine_stats.to_sql('draft_combine_stats', engine, if_exists='append', index=False)
df_common_player_info.to_sql('common_player_info', engine, if_exists='append', index=False)

20